@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sarabun:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@700&display=swap');


body {
 margin: 0 auto;
 font-family: 'Bebas Neue', cursive;
 background: linear-gradient(90deg, #6cbedf, #143b50);
 max-height: 300px;
 max-width: 400px;
 
}
 
.figurinha {
   display: flex;
   flex-direction: column;
   align-items:center; 
   margin: 10px;
}

.description { 
    border: 3px outset  #350cebc2;
    border-radius: 30px;
    font-size: 16px;
    padding: 5px;
    margin-top: 5px;
    text-decoration: none;
    color: #00008B;
    background-color: #87CEFF;
}
.imagem {
border-radius: 100px 100px 100px 100px ; 
border: 3px outset #350cebc2; 
width: 150px;
height: 155px; 
}


.listaLinksInternos {
display:flex;
flex-direction: column;
}

.linkInterno { 
    text-align: center;
    border:4px outset #350cebc2;
    padding:0 60px;
    border-radius: 15px;
    margin: 3px auto;
    font-size: 20px;
    line-height: 35px;
    text-decoration: none;
    background-color: #87CEFF;
    color:#00008B;
    width: 120px;
    
}

.listaLinksExternos {
    display:flex;
    flex-direction:row;
    margin: 15px auto;
    width: 280px;
    padding: 4px;        
}

.linksExterno {
    text-align:center;
    padding: 1px 12px;
    margin: 0 12px;
    font-size: 10px;
}

@media screen and (min-width:768px){
    
}